.navlink {
  text-decoration: none;
  color: #333;
  margin-right: 10px;
}
.logout {
  margin-top: 2px;
  padding: 5px 10px;
  background-color: #0d6efd;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.navbar {
  align-items: center;
}
